@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bespokeSans";
  src: url("./assets/fonts/GeneralSans-Regular.otf" ) format("opentype");
}

@font-face {
  font-family: "Expose";
  src: url("./assets/fonts/Satoshi-Bold.otf") format("opentype");
}

body {
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #09090b;
  }
  
}

* {
  font-family: "bespokeSans";
}

h1, h2, h3 {
  font-family: "Expose";
}