@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bespokeSans';
  src: url('./assets/fonts/GeneralSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Expose';
  src: url('./assets/fonts/Satoshi-Bold.otf') format('opentype');
}

html {
  overflow: hidden;
}

body {
  background-color: rgb(9, 15, 22);
}

#background {
  pointer-events: none;
  opacity: 1;
  background-blend-mode: normal;
  background-image: url('/background_noisy.webp');
  position: fixed;
  inset: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

/* .main {
  position: relative;
  z-index: 1;
} */

.gradient-1 {
  background-image: linear-gradient(180deg, #00c2ff, #ff29c3);
}

.gradient-2 {
  background-image: linear-gradient(180deg, #184bff, #174aff);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #09090b;
  }
}

* {
  font-family: 'bespokeSans';
}

h1,
h2,
h3 {
  font-family: 'Expose';
}

/* .card {
  position: relative;
}

.card:before {
  content: '';
  pointer-events: none;
  user-select: none;
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  padding: 3px;
  -webkit-mask:
    linear-gradient(black, black) content-box content-box,
    linear-gradient(black, black);
  -webkit-mask-composite: xor;
} */

/* Scrollbar */
@layer utilities {
  .scrollbar-stable {
    scrollbar-gutter: stable;
  }

  .scrollbar-w-3::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar-rounded-track::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .scrollbar-rounded-thumb::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  .scrollbar-shadow-track::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .scrollbar-shadow-thumb::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  }
}
