@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bespokeSans";
  src: url("./assets/fonts/GeneralSans-Regular.otf" ) format("opentype");
}

@font-face {
  font-family: "Expose";
  src: url("./assets/fonts/Satoshi-Bold.otf") format("opentype");
}

body {
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #09090b;
  }
  
}

* {
  font-family: "bespokeSans";
}

h1, h2, h3 {
  font-family: "Expose";
}

.card {
  position: relative;
}

.card:before {
  content: "";
  pointer-events: none;
  user-select: none;
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  padding: 3px;
  -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
  -webkit-mask-composite: xor;
}